@using Syncfusion.Blazor.DropDowns
@inherits SharedContemporaneousNoteRteDialogBase
<MudDialog DisableSidePadding="true">
    <DialogContent>
        <MudContainer Style="max-height: 80vh; overflow-y: scroll">

            @* Rich text editor *@
            <SfRichTextEditor ID="RTE" @bind-Value="@RteValue">
                <RichTextEditorEvents BeforeUploadImage="BeforeImageUpload" OnImageUploadFailed="@OnImageUploadFailedHandler" OnImageUploadSuccess="@OnImageUploadSuccessHandler"></RichTextEditorEvents>
                <RichTextEditorImageSettings SaveUrl="@ImageSaveUrl" Path="@ImagePath"/>
            </SfRichTextEditor>

            @* Rich text editor Mention *@
            <div>
                @if (ToggleUserMention == "Exhibit mention")
                {
                    <SfMention TItem="API.Exhibit" Target="#RTE_rte-editable" DataSource="@Exhibits" SuggestionCount=8 AllowSpaces="true" PopupHeight="200px" PopupWidth="250px" Context="Exhibit">
                        <ItemTemplate>
                            <MudText Typo="Typo.body1">@Exhibit.Reference</MudText>
                        </ItemTemplate>
                        <DisplayTemplate>
                            <a class="mention-link" href="@($"/case/{CaseId}/exhibit/{Exhibit.Id}")"> @@@(Exhibit.Reference)</a>
                        </DisplayTemplate>
                        <ChildContent>
                            <MentionFieldSettings Text="Reference"></MentionFieldSettings>
                        </ChildContent>
                    </SfMention>
                }
                else
                {
                    <SfMention TItem="API.User" Target="#RTE_rte-editable" DataSource="@CaseUsers" SuggestionCount=8 AllowSpaces="true" PopupHeight="200px" PopupWidth="250px" Context="User">
                        <ItemTemplate>
                            <MudStack Row="true">
                                <MudAvatar Image="@User.ProfilePicture" Size="Size.Medium"/>
                                <MudStack Justify="Justify.Center" Spacing="0">
                                    <MudText Typo="Typo.body1">@User.DisplayName</MudText>
                                    <MudText Typo="Typo.body2">@User.JobTitle</MudText>
                                </MudStack>
                            </MudStack>
                        </ItemTemplate>
                        <DisplayTemplate>
                            <a class="mention-link" href="@($"/user/{User.Id}")"> @@@(User.DisplayName) </a>
                        </DisplayTemplate>
                        <ChildContent>
                            <MentionFieldSettings Text="DisplayName"></MentionFieldSettings>
                        </ChildContent>
                    </SfMention>
                }
            </div>
        </MudContainer>
    </DialogContent>

    <DialogActions>
        <MudSwitch @bind-Checked="ToggleUserMention" Converter="@(new ToggleUserMentionConverter())" Color="Color.Success"> @ToggleUserMention </MudSwitch>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Primary" OnClick="@SaveContent"> Save & Exit </MudButton>
        <MudButton Variant="Variant.Filled" Color="@Color.Warning" OnClick="@Cancel"> Exit </MudButton>
    </DialogActions>

</MudDialog>