@page "/organization-administrator/settings"
@inherits ConfigBase
@attribute [Authorize(Roles = "organization-administrator")]
<PageTitle> Organization Settings </PageTitle>
<PageLoad @ref="PageLoad">
    <MudText Typo="Typo.h1" Align="Align.Center"> Organization Settings </MudText>

    <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator/>
        <MudStack>
            <div>
                <MudText Typo="Typo.subtitle1" Align="Align.Center"> To set or modify the organization's settings use form below and click / tap 'Save'. </MudText>
            </div>
            <MudGrid Class="justify-center">
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <div class="d-flex flex-wrap">
                                <MudTextField T="string" Label="S3 Endpoint" @bind-Value="Model.S3Endpoint" For="@(() => Model.S3Endpoint)"/>
                                <MudSwitch Label="S3 Network Encryption" @bind-Checked="Model.S3NetworkEncryption" For="@(() => Model.S3NetworkEncryption)" Color="Color.Success" UnCheckedColor="Color.Warning"/>
                            </div>
                            <MudTextField T="string" Label="S3 Bucket Name" @bind-Value="Model.S3BucketName" For="@(() => Model.S3BucketName)"/>
                            <MudTextField T="string" Label="S3 Access Key" @bind-Value="Model.S3AccessKey" For="@(() => Model.S3AccessKey)"/>
                            <MudTextField T="string" Label="S3 Secret Key" @bind-Value="Model.S3SecretKey" For="@(() => Model.S3SecretKey)" InputType="InputType.Password"/>
                            <MudTextField T="string" Label="Meilisearch URL" @bind-Value="Model.MeilisearchUrl" For="@(() => Model.MeilisearchUrl)"/>
                            <MudTextField T="string" Label="Meilisearch API Key" @bind-Value="Model.MeilisearchApiKey" For="@(() => Model.MeilisearchApiKey)" InputType="InputType.Password"/>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto"> Save </MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </MudStack>
    </EditForm>
</PageLoad>